mat-table {
  width: 100%;
}

.mat-cell, .mat-header-cell {
  padding: 8px;
}

.mat-header-row, .mat-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.mat-row {
  align-items: center;
}

tr {
  cursor: pointer;
}
